@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cairo:wght@700&family=Epilogue&family=Inter:wght@300&family=Jomhuria&family=Lato&family=Montserrat:wght@500&family=Mukta&family=Mulish&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@1,300&family=Orbitron&family=Poppins:wght@200&family=Quicksand:wght@300&family=Roboto:wght@100;400&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --light-theme-main-bg: hsl(0, 0%, 100%);
  --light-theme-body-bg: hsl(0, 0%, 98%);
  --dark-theme-main-bg: hsl(209, 23%, 22%);
  --dark-theme-body-bg: hsl(207, 26%, 17%);
  --very-dark-theme-text: hsl(200, 15%, 8%);
  --input-placeholder: hsl(0, 0%, 52%);
  --side-padding: 70px;
  --vertical-padding: 20px;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: large;
  display: grid;
  gap: 50px;
  margin-bottom: 50px;
}

body.light-mode {
  background-color: var(--light-theme-body-bg);
  color: var(--very-dark-theme-text) !important;
}

body.dark-mode {
  background-color: var(--dark-theme-body-bg);
  color: var(--light-theme-main-bg) !important;
}

body.overflow-hidden {
  overflow: hidden;
}

header {
  padding: 0 var(--side-padding);
  display: grid;
}
@media (max-width: 415px) {
  nav {
    flex-direction: column;
  }
  .title {
    margin-top: 20px;
  }
  .search-container {
    width: 0 !important;
  }
  .sub-container {
    display: grid !important;
    gap: 10px !important;
    justify-content: center !important;
  }
  .sub-container svg {
    justify-self: center;
  }
}

header.light-mode {
  background-color: var(--light-theme-main-bg);
}

header.dark-mode {
  background-color: var(--dark-theme-main-bg);
}

.parent-container {
  height: 100vh;
}

.all-container {
  padding: 0 var(--side-padding);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-mode {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dark-mode-icon {
  width: 50px;
  left: -30px;
  top: 9%;
  cursor: pointer;
}

.dark-mode-icon.dark-theme {
  width: 21px;
  top: 0;
  left: -33px;
}

.search-filter-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 70px;
}

.search-container {
  position: relative;
  height: fit-content;
  width: 74% !important;
}



input.light-mode {
  color: var(--very-dark-theme-text);
  caret-color: var(--input-placeholder);
  background-color: var(--light-theme-main-bg) !important;
}

input.dark-mode {
  color: var(--light-theme-main-bg);
  caret-color: var(--light-theme-main-bg);
  background-color: var(--dark-theme-main-bg);
}

input {
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 23px 0px 23px 0px;
  box-shadow: 0px 2px 7px rgb(0, 0, 0, 0.1);
  width: 100%;
  font-size: large;
  text-indent: 50px;
}

input.light-mode::placeholder {
  color: var(--input-placeholder);
}
input.dark-mode::placeholder {
  color: #fff;
}

.search-icon {
  width: 20px;
  top: 50%;
  left: 17.5px;
  transform: translate(13px, 240%);
  z-index: 2;
}

.moon-icon {
  align-self: end;
  position: relative;
  top: 20px;
  left: 20px;
}



.search-icon.inverted {
  filter: brightness(0) invert(100%);
}

.arrow.inverted {
  filter: brightness(0) invert(100%);
  background-color: transparent !important;
}

.filter-container {
  display: grid;
  grid-template-columns: auto;
  justify-self: end;
  gap: 5px;
  position: relative;
  padding-right: 58px;
}

.filter-container *.light-mode {
  background-color: var(--light-theme-main-bg);
}
.filter-container *.dark-mode {
  background-color: var(--dark-theme-main-bg);
}

.filter-container > *:first-child {
  box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);
}

.filter-container img {
  position: relative;
}

.details-sub-container img {
  display: block;
}

.flag-container img {
  height: 250px;
}

.sub-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  border-radius: 3px;
  padding: var(--vertical-padding) 30px;
  font-weight: normal;
  margin-top: 20px;
  width: 100%;
  position: relative;
}

.sub-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.sub-container.light-mode {
  background-color: var(--light-theme-main-bg);
}
.sub-container.dark-mode {
  background-color: var(--dark-theme-main-bg);
}

.sub-container * {
  border-radius: 3px;
}

.dropdown-menu {
  gap: 20px;
  padding: var(--vertical-padding) 0;
  border-radius: 3px;
  font-weight: normal;
  position: absolute;
  width: 100%;
  left: 0;
  top: 85px;
  display: none;
  z-index: 2;
}

.dropdown-menu.light-mode {
  background-color: var(--light-theme-main-bg);
}

.dropdown-menu.dark-mode {
  background-color: var(--dark-theme-main-bg);
}

.dropdown-menu.visible {
  display: grid;
}

.dropdown-menu * {
  cursor: pointer;
  margin-left: 30px;
}

.countries-container {
  width: 100%;
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  gap: 80px;
}

@media (max-width: 1580px) {
  .countries-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
@media (max-width: 770px) {
  .search-filter-container {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
  .search-container {
    width: 100% !important;
  }
  .filter-container {
    justify-self: start;
    width: 100% !important;
  }
  .sub-container {
    width: auto;
  }
  .border-sub-container {
    margin-top: 20px;
  }
}

.countries-container.light-mode {
  background-color: var(--light-theme-body-bg);
}
.countries-container.light-mode span {
  color: var(--input-placeholder);
}
.countries-container.dark-mode {
  background-color: var(--dark-theme-body-bg);
}
.countries-container.dark-mode span {
  color: #cac9c9;
}

.flag {
  width: 100%;
}

.country-container {
  box-shadow: 0px 2px 15px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  padding-bottom: 50px;
}

.country-container.light-mode {
  background-color: var(--light-theme-main-bg);
}
.country-container.dark-mode {
  background-color: var(--dark-theme-main-bg);
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
}

.info-container {
  padding: 10px 30px 0;
}

.info-container h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.info-container span {
  color: rgb(102, 102, 102);
  font-size: 16px;
  font-weight: bold;
}

.sub-info-container {
  display: grid;
  gap: 10px;
  font-weight: normal;
  padding: 0 30px;
}

.garbage {
  display: none;
}

.selected-country-details {
  font-weight: normal;
}

.selected-country-details > * {
  gap: 10px;
  display: flex;
}

input.back,
.search-icon.back {
  cursor: pointer;
}

.back-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 37px;
  font-weight: 300;
  font-size: 17px;
  box-shadow: 0px 2px 7px rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

.back-button.light-mode {
  background-color: var(--light-theme-main-bg);
  color: var(--very-dark-theme-text);
}
.back-button.dark-mode {
  background-color: var(--dark-theme-main-bg);
  color: white;
}

.country-details {
  padding: 0 var(--side-padding);
  margin-top: 70px;
}

.details-sub-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: column;
  margin-top: 70px;
}

@media (max-width: 1130px) {
  .details-sub-container {
    grid-template-columns: 100%;
    grid-auto-flow: row;
  }

  .details-sub-container img {
    width: 100% !important;
  }
  .details-border-countries {
    margin-top: 30px !important;
    margin-bottom: 30px;
  }
}

.details-sub-container img {
  width: 85%;
  align-self: center;
  height: 400px;
}

.details-flag {
  width: 50%;
  height: 450px;
  background-size: 80%;
  background-repeat: no-repeat;
}

.details-country-name h2 {
  font-weight: 900;
}

.details-info-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.details-info-container {
  display: grid;
  grid-auto-flow: column;
}

@media (max-width: 670px) {
  .details-info-container {
    grid-auto-flow: row;
    gap: 50px !important;
  }
  .details-border-countries {
    margin-top: 50px !important;
  }
}

.border-sub-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 15px;
}

.details-country-info-container {
  display: grid;
  gap: 12px;
  font-size: 18.5px;
}

.details-info-container.light-mode span {
  color: rgb(102, 102, 102);
}

.details-info-container.dark-mode span {
  color: rgba(210, 209, 209, 0.804);
}

.details-country-info-container-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.details-border-countries {
  margin-top: 70px;
}

.details-border-countries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.details-border-countries a {
  box-shadow: 0px 2px 7px rgb(0, 0, 0, 0.1);
  padding: 6px 40px;
  font-size: 17px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(102, 102, 102);
}

.details-border-countries a.light-mode {
  background-color: var(--light-theme-main-bg);
  color: rgb(102, 102, 102);
}

.details-border-countries a.dark-mode {
  background-color: var(--dark-theme-main-bg);
  color: rgba(210, 209, 209, 0.804);
}
